<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Выбор языка</title>
</head>
<body>
    {% load i18n %}
    {% get_language_info for LANGUAGE_CODE as lang %}
    {% trans "Current language" %}: {{ lang.name_local }}
    <form action="/i18n/setlang/" method="post">
        {% csrf_token %}
        {#<input name="next" type="hidden" value="/next/page/" />#}
        <select name="language">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans "Change" %}"/>
    </form>
</body>
</html>