<fieldset>
    <dl>
        <dd>
            <label>{{ form.name.label }}</label>
            <div class="FieldBox">
                {{ form.name }}
                {{ form.name.errors }}
            </div>
        </dd>
        <dd>
            <label>{{ form.vendor.label }}</label>
            <div class="FieldBox">
                {{ form.vendor }}
                {{ form.vendor.errors }}
            </div>
        </dd>
        <dd>
            <label>{{ form.comments.label }}</label>
            <div class="FieldBox">
                {{ form.comments }}
                {{ form.comments.errors }}
            </div>
        </dd>
    </dl>
</fieldset>