<fieldset>
    <dl>
        <dd>
            <label>{{ form.organisation_name.label }}</label>

            <div class="FieldBox">
                {{ form.organisation_name }}
                {{ form.organisation_name.errors }}
            </div>
        </dd>

        <dd>
            <label>{{ form.name.label }}</label>

            <div class="FieldBox">
                {{ form.name }}
                {{ form.name.errors }}
            </div>
        </dd>

        <dd>
            <label>{{ form.start_date.label }}</label>

            <div class="FieldBox">
                {{ form.start_date }}
                {{ form.start_date.errors }}
            </div>
        </dd>

        <dd>
            <label>{{ form.end_date.label }}</label>

            <div class="FieldBox">
                {{ form.end_date }}
                {{ form.end_date.errors }}
            </div>
        </dd>

        <dd>
            <label>{{ form.access_rules.label }}</label>

            <div class="FieldBox">
                {{ form.access_rules }}
                {{ form.access_rules.errors }}
            </div>
        </dd>

        <dd>
            <label>{{ form.terms.label }}</label>

            <div class="FieldBox">
                {{ form.terms }}
                {{ form.form.errors }}
            </div>
        </dd>

    </dl>
</fieldset>