{% extends 'base.html' %}
{% block content %}
    {% load i18n %}
    {{ message }}
    <div class="ggForm" style="text-align:left;">

        <form class="form panel" action="../submit.php" method="POST" target="uploader" enctype="multipart/form-data"
              id="ggform_4e16d5983d663">

            <header><h2
                    style="padding:0; color:#000;line-height:1;font-weight:bold;font-size:14px;margin: 1em 0;font-family: 'Lucida Grande',Verdana,Helvetica,Arial,sans-serif;">
                Добавление книги</h2></header>
            <hr/>
            <fieldset>
                <dl>
                    <dd>
                        <label>Название</label>

                        <div class="FieldBox"><input type="text" name="title" value="" class="half"
                                                     id="fel_4e16d5983da49" required="required">
                        </div>

                    </dd>


                    <dd>
                        <label>Автор(ы)</label>

                        <div class="FieldBox"><input type="text" name="author" value="" class="half"
                                                     id="fel_4e16d5983de32" required="required">
                        <div class="errodrs clear" style="margin-left: 200px;">
                            <ul style="margin: 0;padding: 0; color: red; list-style: none; ">
                                <li>1111</li>
                                <li>2222</li>
                            </ul>
                        </div>
                                                     </div>

                    </dd>

                    <dd>
                        <label>Категории</label>

                        <div class="FieldBox"><input type="text" name="category" value="" class="half"
                                                     id="fel_4e16d5983e21c"></div>
                    </dd>

                    <dd>
                        <label>Файл книги</label>

                        <div class="FieldBox"><input type="file" name="file" id="fel_4e16d5983e602"></div>
                    </dd>
                </dl>
            </fieldset>
            <hr/>
            <input type="hidden" name="action" value="UserBooks::add">
            <button type="submit" class="button button-green">Отправить</button>
        </form>
        <script>
            $(document).ready(function() {
                $("#ggform_4e16d5983d663").validator({
                    position: "left",
                    offset: [25, 10],
                    messageClass:"form-error",
                    message: "<div><em/></div>" // em element is the arrow
                });
            });
        </script>

    </div>

    <div class="panel">
        <h2>edwedweded</h2>
        <ul class="tabs">
            <li class="current"><a href="#">sss</a>
            </li>
            <li><a href="#">aaa</a></li>
            <li><a href="#">vvv</a></li>
        </ul>
        <div class="panes">
            <div class="pane current">edewed</div>
        </div>
    </div>
{% endblock %}