{% extends 'admin_erm.html' %}
{% load i18n %}
{% load pagination_tag %}
{% block erm_action_content %}
<h3>Список Журналов</h3>
    
{#    <div class="pane current" style="display: block;">#}
{#        <a href="{% url erm_admin_licence_create  %}" class="button button-gray">{% trans 'Add license' %}</a>#}
{#        <hr class="space"/>#}
{#        <div class="panel">#}
{#            <h2>{% trans "Licenses list" %}</h2>#}
{#            <div class="table_container">#}
                {#                <div class="table_title">#}
                {#                    {% trans "Licenses list" %}#}
                {#                </div>#}
{#                <table>#}
{#                    <tr>#}
{#                        <th>{% trans 'Organisation name' %}</th>#}
{#                        <th>{% trans 'License name' %}</th>#}
{#                        <th>{% trans 'Start date' %}</th>#}
{#                        <th>{% trans 'End date' %}</th>#}
{#                        <th>{% trans 'Actions' %}</th>#}
{#                    </tr>#}
{#                    {% for license in licenses_list.object_list %}#}
{#                        <tr>#}
{#                            <td>{{ license.organisation_name }}</td>#}
{#                            <td>{{ license.name }}</td>#}
{#                            <td>{{ license.start_date }}</td>#}
{#                            <td>{{ license.end_date }}</td>#}
{#                            <td>#}
{#                                <a title="{% trans 'Edit license' %}" class="button button-gray action" href="#">#}
{#                                    <img src="{{ STATIC_URL }}default/images/icons/pencil_16.png" alt="">#}
{#                                </a>#}
{##}
{#                                <a class="button button-gray action" title="{% trans 'Delete license' %}" href="#">#}
{#                                    <img src="{{ STATIC_URL }}default/images/icons/delete_16.png" alt="">#}
{#                                </a>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                </table>#}
{##}
{#                {% if licenses_list.paginator.num_pages > 1 %}#}
{#                    <div align="center" class="">#}
{#                        {% pagination licenses_list %}#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}