{% extends 'base.html' %}
{% block content %}
    {% load i18n %}

    
    <style type="text/css">
            /* tooltip styling */
        .tooltip {
            display: none;
            background: url({{ STATIC_URL }}/default/images/bibliogramma.png) no-repeat;

            padding: 40px 30px 10px 30px;
            width: 430px;
            font-size: 1.2em;
            color: #000;
        }

    </style>


    <div id="search_places">
        <ul>
            <li><a href="#">{% trans "Journals" %}</a></li>
            <li><a href="#">{% trans "Bases" %}</a></li>
            <li><a href="#">{% trans "Subjects" %}</a></li>
        </ul>
    </div>

    <hr/>

    <h2><a href="{% url erm_search_resources %}?{{ search_url }}">{% trans "search results"|capfirst %}</a>
        → {{ record.datafields.200.0.subfields.a.0 }}
    </h2>

    <hr/>

    <div class="item_title">
        <h3>{{  record.datafields.200.0.subfields.a.0 }}</h3>
    </div>

    {% if record.datafields.702.0.subfields.a.0 %}
        <div class="item_author">
            {{ search_result.record.datafields.702.0.subfields.a.0}}
        </div>
    {% endif %}

    {% if record.datafields.517.0.subfields.a.0 %}
        <div class="item_field">
            {{ record.517.a }}
        </div>
    {% endif %}


    {% if record.datafields.606 %}
        <div class="item_field">
            {% trans "Subjects" %}:
            {% for field in record.datafields.606  %}
                {% for subfield in field.subfields.a %}
                    <a href="#">{{ subfield }}</a>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    {% if record.datafields.101.0.subfields.a.0 %}
        <div class="item_field">
            {% trans "Language" %}: {{ record.datafields.101.0.subfields.a.0 }}
        </div>
    {% endif %}

    <div class="item_info">
        {% trans "Access" %}: <span style="color: green;">{% trans "free" %}</span>
    </div>

    <hr class="space"/>

    {% if  record.datafields.856.0.subfields.u.0 %}
        <div class="item_field">
            <a class="button button-green" style="font-size: 1.5em"
               href="{{ record.datafields.856.0.subfields.u.0 }}">{% trans "Go to resource" %}</a> |

            <a href="#1" id="show_full_document">{% trans "Bibliographic description" %}</a>
            <div class="tooltip">
                {{ full_document|safe }}
            </div>

            | <a href="#">{% trans "Add to bookmark" %}</a>
        </div>
    {% endif %}

    <script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
    <script type="text/javascript">
        $("#show_full_document").tooltip({'relative':true});
    </script>
{% endblock %}