{% extends 'base.html' %}
{% block content %}
    {% load i18n %}

    <script type="text/javascript">
        function goSearch() {
            $('#search_form').submit();
        }
    </script>

    <div id="search_places" class="column last">
        <ul>
            <li><a href="#">{% trans "Journals" %}</a></li>
            <li><a href="#">{% trans "Bases" %}</a></li>
            <li><a href="#">{% trans "Subjects" %}</a></li>
        </ul>
    </div>
    <hr/>
    <div id="search_panel" class="column last">

        <form method="get" id="search_form" action="">
            <div style="overflow:hidden;">
                <select name="use" class="search_point">
                    <option value="anywhere"
                            {% if request.GET.use == 'anywhere' %}selected="selected"{% endif %}>{% trans "Anywhere" %}</option>
                    <option value="author"
                            {% if request.GET.use == 'author' %}selected="selected"{% endif %}>{% trans "Author" %}</option>
                    <option value="title"
                            {% if request.GET.use == 'title' %}selected="selected"{% endif %}>{% trans "Title" %}</option>
                    <option value="subject"
                            {% if request.GET.use == 'subject' %}selected="selected"{% endif %}>{% trans "Subject" %}</option>
                </select>
                <input name="term" id="search_input" value="{{ request.GET.term }}" type="text">
            </div>

            <div id="search_buttons">
{#                <a id="search_button" onclick="goSearch();return false;">#}
{#                    <img alt="Поиск" src="{{ STATIC_URL }}/default/images/search_button_bg.png">#}
                    <input type="submit" style="font-size: 1.9em" class="button button-green" id="search_button" value="{% trans 'Search' %}"/>
{#                </a>#}
                <input type="checkbox" name="ft" id="ftcb"> <label for="ftcb"> {% trans "Only exact matches" %}</label>
            </div>
        </form>
    </div>
    <hr/>
    <div id="search_results" class="column span-16 last">
        {% for search_result in search_results %}
            <div class="result_item column last">
                <div class="item_number alt column span-2">№{{ search_result.number }}</div>
                <div class="column span-14  last">
                    <div class="item_title">
                        <a href="{% url erm_resource_detail %}?id={{ search_result.record.001.data|urlencode }}&search_url={{ search_url|urlencode }}" >{{ search_result.record.200.a|safe }}</a>
                    </div>
                    {% if search_result.record.702.a %}
                        <div class="item_author">
                            {{ search_result.record.702.a }}
                        </div>
                    {% endif %}
                    {% if search_result.record.606.a %}
                        <div class="item_field">
                            {% trans "Subjects" %}: <a href="#">{{ search_result.record.606.a }}</a>
                        </div>
                    {% endif %}
                    <div class="item_info">
                        {% trans "Access" %}: <span style="color: green;">{% trans "free" %}</span>
                    </div>
                </div>
            </div>
            <hr/>
        {% empty %}
            {% if request.GET.term %}
                <span style="font-size: 1.5em">{% trans "No results" %}</span>
            {% endif %}
        {% endfor %}

    </div>
    {% load pagination_tag %}
    {% if pages_list.paginator.num_pages > 1 %}
        <div align="center" class="column span-16 last">
            {% pagination pages_list  %}
        </div>
    {% endif %}
    <hr class="space"/>
{% endblock %}