{% extends 'base.html' %}
{% load mptt_tags %}
{% block rubrics_tree %}
    <style type="text/css">
        .rubrics {
            font-size: 120%;
        }
    </style>
    <hr class="space"/>
    <hr class="space"/>
    <hr class="space"/>
    <hr class="space"/>
    <hr class="space"/>
    <hr class="space"/>
    <h2>Рубрики</h2>
    {% if nodes %}
        <ul class="rubrics">
            {% recursetree nodes %}
                <li>
                    {% if request.GET.rubric|upper == node.pk|upper %}
                        <a href="{% url erm_search_resources %}?rubric={{ node.pk }}"><b>{{ node.name }}</b></a>
                    {% else %}
                        <a href="{% url erm_search_resources %}?rubric={{ node.pk }}">{{ node.name }}</a>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    {% endif %}

{% endblock %}
{% block content %}
    {% load i18n %}

    <script type="text/javascript">
        function goSearch() {
            $('#search_form').submit();
        }
    </script>

    <div id="search_places" class="column last">
        <ul>
            <li><a href="#">{% trans "Journals" %}</a></li>
            <li><a href="#">{% trans "Bases" %}</a></li>
            <li><a href="#">{% trans "Subjects" %}</a></li>
        </ul>
    </div>
    <hr/>
    <div id="search_panel" class="column last">

        <form method="get" id="search_form" action="">
            <div style="overflow:hidden;">
                <select name="use" class="search_point">
                    <option value="anywhere"
                            {% if request.GET.use == 'anywhere' %}selected="selected"{% endif %}>{% trans "Anywhere" %}</option>
                    <option value="author"
                            {% if request.GET.use == 'author' %}selected="selected"{% endif %}>{% trans "Author" %}</option>
                    <option value="title"
                            {% if request.GET.use == 'title' %}selected="selected"{% endif %}>{% trans "Title" %}</option>
                    <option value="subject"
                            {% if request.GET.use == 'subject' %}selected="selected"{% endif %}>{% trans "Subject" %}</option>
                </select>
                <input name="term" id="search_input" value="{{ request.GET.term }}" type="text">
                <input type="submit" style="font-size: 2em" class="button button-green" id="search_button"
                       value="{% trans 'Search' %}"/>
            </div>

            <div id="search_buttons">
                {#                <a id="search_button" onclick="goSearch();return false;">#}
                {#                    <img alt="Поиск" src="{{ STATIC_URL }}/default/images/search_button_bg.png">#}
                {#                    <input type="submit" style="font-size: 1.5em" class="button button-green" id="search_button" value="{% trans 'Search' %}"/>#}
                {#                </a>#}
                <input type="checkbox" name="ft" id="ftcb"> <label for="ftcb"> {% trans "Only exact matches" %}</label>
            </div>
            <div>
                <style>
                    ul.abc {
                        list-style: none;
                        display: block;
                    }

                    ul.abc li {
                        float: left;
                        padding-right: 10px;
                    }
                </style>
                <ul class="abc clear">
                    <li><a href="{% url erm_search_resources %}?letter=A">A</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=B">B</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=C">C</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=D">D</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=E">E</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=F">F</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=G">G</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=H">H</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=I">I</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=J">J</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=K">K</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=L">L</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=M">M</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=N">N</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=O">O</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=P">P</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Q">Q</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=R">R</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=S">S</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=T">T</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=U">U</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=V">V</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=W">W</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=X">X</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Y">Y</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Z">Z</a></li>
                </ul>
                <ul class="abc clear">
                    <li><a href="{% url erm_search_resources %}?letter=А">А</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Б">Б</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=В">В</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Г">Г</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Д">Д</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Е">Е</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Ж">Ж</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=З">З</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=И">И</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=К">К</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Л">Л</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=М">М</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Н">Н</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=О">О</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=П">П</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Р">Р</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=С">С</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Т">Т</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=У">У</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Ф">Ф</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Х">Х</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Ц">Ц</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Ч">Ч</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Ш">Ш</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Щ">Щ</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Ы">Ы</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Э">Э</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Ю">Ю</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=Я">Я</a></li>
                </ul>
                <ul class="abc clear">
                    <li><a href="{% url erm_search_resources %}?letter=1">1</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=2">2</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=3">3</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=4">4</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=5">5</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=6">6</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=7">7</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=8">8</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=9">9</a></li>
                    <li><a href="{% url erm_search_resources %}?letter=0">0</a></li>
                </ul>
            </div>
        </form>
    </div>

    <hr/>

    <div id="search_results" class="column span-16 last">
        {% for search_result in search_results %}

            <div class="result_item column last">
                <div class="item_number alt column span-2">№{{ search_result.number }}</div>
                <div class="column span-14  last">
                    <div class="item_title">
                        <a href="{% url erm_resource_detail %}?id={{ search_result.record.controlfields.001|urlencode }}&search_url={{ search_url|urlencode }}">{{ search_result.record.datafields.200.0.subfields.a.0|safe }}</a>
                    </div>
                    {% if search_result.record.datafields.702.0.subfields.a.0 %}
                        <div class="item_author">
                            {{ search_result.record.datafields.702.0.subfields.a.0 }}
                        </div>
                    {% endif %}
                    {% if search_result.record.datafields.606 %}
                        <div class="item_field">
                            {% trans "Subjects" %}:
                            {% for field in search_result.record.datafields.606 %}
                                {% for subfield in field.subfields.a %}
                                    <a href="{% url erm_search_resources %}?use=subject&ft=on&term={{ subfield }}">{{ subfield }}</a>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="item_info">
                        {% trans "Access" %}: <span style="color: green;">{% trans "free" %}</span>
                    </div>
                </div>
            </div>
            <hr/>
        {% empty %}
            {% if request.GET.term %}
                <span style="font-size: 1.5em">{% trans "No results" %}</span>
            {% endif %}
        {% endfor %}

    </div>
    {% load pagination_tag %}
    {% if pages_list.paginator.num_pages > 1 %}
        <div align="center" class="column span-16 last">
            {% pagination pages_list %}
        </div>
    {% endif %}
    <hr class="space"/>
    {{ app.name }}
{% endblock %}