{% extends 'base.html' %}
{% block content %}

    <script type="text/javascript">
        function goSearch() {
            $('#search_form').submit();
        }
    </script>

    <div id="search_places" class="column last">
        <ul>
            <li><a href="#">Журналы</a></li>
            <li><a href="#">Базы</a></li>
            <li><a href="#"">Рубрики</a></li>
        </ul>
    </div>
    <div id="search_panel" class="column last">
        <form method="get" id="search_form" action="">
            <div style="overflow:hidden;">
                <select name="point" class="search_point">
                    <option value="author">Везде</option>
                    <option value="author">Автор</option>
                    <option value="title">Заглавие</option>
                    <option value="rubric">Рубрика</option>
                </select>
                <input name="term" id="search_input" value="" type="text">
            </div>
            <div id="search_buttons">
                <a id="search_button" onclick="goSearch();return false;">
                    <img alt="Поиск" src="{{ STATIC_URL }}/default/images/search_button_bg.png">
                </a>
                <input type="checkbox" name="ft" id="ftcb" checked=""> <label for="ftcb">Только точные
                совпадения</label>
            </div>
        </form>
    </div>
    <hr/>
    <div id="search_results" class="column span-16 last">
        {% for search_result in search_results %}
            <div class="result_item column last">
                <div class="item_number alt column span-2">№{{ search_result.number }}</div>
                <div class="column span-14  last">
                    <div class="item_title">
                        <a href="#" class="alt">{{ search_result.record.200.a }}</a>
                    </div>
                    <div class="item_field">
                        Рубрика: <a href="#">математика</a>
                    </div>
                    <div class="item_info">
                        Доступ: <span style="color: green;">свободный</span>
                    </div>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
{% endblock %}